.addTypeBeatContent {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-color;
}

.addTypeBeatFormContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .addTypeBeatFormContainer {
        width: 100%;
        height: 100%;
        margin-top: 10%;
        border-radius: 10px;
        color: $white-color;
        font: $text-medium;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        form {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
        }

        label {
            margin: 4%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;

            span {
                margin-right: 5%;
            }

            input {
                
            }
        }
    }

    .addTypeBeatFormButtons {
        width: 100%;
        margin-top: 10%;
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }

    .typeBeatImage {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@include desktop {}