.presentationSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .presentationContent {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .logoContainer {
      width: 50%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-name: opacity-logo-transition;
      animation-duration: 1s;

      .logoContainer-icon {
        width: 35%;
      }

      :hover {
        cursor: pointer;
      }
    }

    .presentationContainer {
      width: 50%;
      height: 100vh;
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
      position: relative;
      flex-direction: column;
      text-align: left;
      transition: visibility 0.2s linear 0s, opacity 0.2s, right 0.7s;
      background-image: url("https://firebasestorage.googleapis.com/v0/b/lowstsky-web.appspot.com/o/1671796280790.png?alt=media&token=35ee2de5-cf35-4633-9196-53034ab9a3b0");
      background-size: cover;
      color: white;
      font: $text-small;

      .presentationTextContent {
        width: 100%;
        text-align: justify;

        * {
          margin: 0% 5%;
        }
      }
      .presentationContactContent {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 2% 0%;
      }
      .presentationFollowMeContent {
        width: 100%;
        margin: 2% 5%;
      }

    }

    .presentationContainer-hidden {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      right: 100px;
    }
    .presentationContainer-show {
      visibility: visible;
      opacity: 1;
      right: 0;
    }
  }
}

.lastReleasesSection {
  background-color: $black-color;
}

@media (max-width: $big-screen) {
  .homeSection .homeContainer {
    .homeContent {
      width: 800px;
    }
    .logoButton-state1 {
      left: 250px;
    }
    .presentationContainer-hidden {
      right: 250px;
    }
  }
}

@media (max-width: $medium-screen) {
  .homeSection .homeContainer {
    .homeContent {
      width: 600px;
    }
    .logoButton-state1 {
      left: 150px;
    }
    .presentationContainer-hidden {
      right: 150px;
    }
  }
}

@media (max-width: $small-screen) {
}

@media (max-width: $super-small-screen) {
}

@keyframes opacity-logo-transition {
    from {opacity: 0;}
    to {opacity: 1;}
}
