.typeBeatsHeaderSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-color;

  .typeBeatsHeaderContent {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.typeBeatsListSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey2-color;

  .typeBeatsListContent {
    width: 100%;
    height: fit-content;
    margin-top: 2%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    .typeBeatsButtons {
      width: 100%;
      display: flex;
      justify-content: end;
      font: $text-title-small;

      button {
        width: 45px;
        height: 30px;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        background-color: $grey1-transparent-color;
        color: $grey1-color;
      }

      button:hover {
        cursor: pointer;
        background-color: $grey2-transparent-color;
        color: $white-color;
      }

      .typeBeatButtonEdit-active {
        background-color: $grey3-transparent-color;
      }

      .typeBeatButtonEdit-normal {
        background-color: $grey1-transparent-color;
      }

      .typeBeatButtonDelete {
        color: $red1-color;
      }
    }

    .typeBeatsList {
      position: relative;
      width: 100%;
      margin-top: 5%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      grid-auto-rows: minmax(100px, auto);
      column-gap: 4%;
      row-gap: 60px;
      justify-items: center;
    }

    .addTypeBeatModal {
      position: fixed;
      top: auto;
      left: auto;
      width: 300px;
      height: 300px;
    }

    .show {
      display: block;
    }

    .hidden {
      display: none;
    }
  }
}
