.beatCard_container {
    width: 300px;
    height: 200px;
    margin: 5%;
    padding: 4%;
    border: 1px black;
    border-radius: 4%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}