nav {
    width: 100%;
    height: 8vh;
    padding: 10px 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    z-index: 100;


    .navbarContainer {
        width: 80%;
        display: flex;
        justify-content: space-around;
        transition: opacity 1s;

        a {
            margin: 0 20px;
            font: $text-title-small;
            color: $grey1-color;
            text-decoration: none;
            text-align: center;

            &:hover {
                color: $white-color;
            }
        }
    }
    .navbarShowButton{
        display: none;
    }
}

.navbarHidden {
    display: flex;
    justify-content: flex-end;

    .navbarContainer {
        opacity: 0;
        position: relative;
        top: -100px;
    }
    .navbarShowButton{
        width: 10%;
        display: flex;
        justify-content: center;
        font: $text-title-big;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $grey1-color;
            cursor: pointer;
            background-color: transparent;
            border: none;
        }
        button:hover {
            color: $white-color;
        }
    }
}

.backgroundNavbar {
    background: rgba(0,0,0,0.8);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 30%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(30%, rgba(0,0,0,0.8)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 30%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.8) 30%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 30%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 30%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}

