//colors
$main-color: black;
$primary-color: #16182C;
$secondary-color: #12163D;
$tertiary-color: #221343;

$white-color: white;
$grey1-color: #BCBCBC;
$grey2-color: #1C1C1C;
$grey3-color: #0D0D0D;
$black-color: black;

//tipography
$text-small: normal normal normal normal 0.8em 'Roboto', sans-serif;
$text-medium: normal normal normal normal 1em 'Roboto', sans-serif;
$text-big: normal normal normal normal 1.5em 'Roboto', sans-serif;
$text-title-small: normal normal bold normal 1em 'Roboto', sans-serif;
$text-title-medium: normal normal bold normal 2em 'Roboto', sans-serif;
$text-title-big: normal normal bold normal 3em 'Roboto', sans-serif;
$text-title-super-big: normal normal bold normal 4em  'Roboto', sans-serif;


//resposive sizes
$big-screen: 1200px;
$medium-screen: 992px;
$small-screen: 768px;
$super-small-screen: 576px;
